/*Fuente del Proyecto*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Declaración de variables Globales*/
:root {
    --color-fondo: #F3F5FC;
    --color-blanco: #FFFFFF;
    --color-dark-blue: #0A3871;
    --color-medium-blue: #0A38718A;
    --color-light-blue: #D8DFE8;
    --color-gris: #495057;
    --color-medio-gris: #67808E;
    --color-gris-claro:#495057;
    --color-dark-gris: #343A40;
    --color-white-blue: #E8DFE8;
    --fuente: 'Inter', sans-serif;
}

/*Modificador global o Reset*/
* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--fuente);
    background: var(--color-blanco);
}

::selection {
    background: var(--color-dark-blue);
    color: var(--color-blanco);

}

img {
    max-width: 100%;
}

body {
    height: 100%;
}

/*---ENCABEZADO---*/

header {
    position: absolute;
    margin: 40px 0px 0px 40px;
}

header .logo-alura {
    display: flex;
    align-items: flex-start;
    width: 120px;
    height: 48px;
}

/*---SECCION PRINCIPAL---*/

main {
    display: flex;
    flex-direction: row;
    background: url(../assets/portada.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.encriptador {
    width: 60%;
    margin: 168px 0px 0px 140px;
    background: transparent;
}

.encriptar {
    width: 660px;
    height: 288px;
    font-weight: 400;
    margin: 0px 0px 0px 0px;
    font-size: 32px;
    line-height: 48px;
    outline: none;
    color: var(--color-dark-blue);
    background-color: transparent;
    border: 1px solid var(--color-gris);
    border-radius: 15px;
    resize: none;
}

.encriptar::placeholder,
:focus {
    color: var(--color-dark-blue);
}

.encriptar:focus {
    outline: none;
}

.encriptador-aviso {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0px 0px 0px 120px;
    position: absolute;
    gap: 8px;
    top: 500px;
}

.texto-aviso {
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: var(--color-medio-gris);
    opacity: 0.8;
    line-height: 150%;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 526px;
    /*justify-content: space-between;*/
}

.boton-encriptar {
    width: 328px;
    height: 67px;
    padding: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--fuente);
    font-style: normal;
    line-height: 19px;
    background: var(--color-dark-blue);
    text-align: center;
    color: var(--color-blanco);
    border: var(--color-dark-blue) solid 1px;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px rgba(0, 0, 0, 0.08);
}

.boton-encriptar:active {
    box-shadow: inset 2px 2px 4px var(--color-fondo),
        inset -3px -4px -8px var(--color-dark-blue);
    color: var(--color-white-blue);
}

.boton-desencriptar {
    width: 328px;
    height: 67px;
    padding: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--fuente);
    font-style: normal;
    line-height: 19px;
    background: var(--color-white-blue);
    text-align: center;
    color: var(--color-dark-blue);
    border: var(--color-dark-blue) solid 1px;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px rgba(0, 0, 0, 0.08);
}

.boton-copiar:active,
.boton-desencriptar:active {
    box-shadow: inset 2px 2px 4px var(--color-dark-blue),
        inset -3px -4px -8px var(--color-fondo);
    color: var(--color-medium-blue);
}

.desencriptador {
    width: 270px;
    height: 580px;
    background: var(--color-fondo);
    box-shadow: 10px 24px 32px -8px var(--color-dark-gris);
    position: relative;
    margin-top: 40px;
    border-radius: 32px;
    text-align: center;
}

.desencriptador-tarjeta {
    width: 250px;
    margin: auto;
    margin-top: 50%;
    background: var(--color-fondo);
}

.img-munieco{
    background: var(--color-fondo);
}

.texto1 {
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: var(--color-gris);
    background: var(--color-fondo);
}

.texto2 {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--color-medio-gris);
    background: var(--color-fondo);
}

.evaluar-texto {
    width: 100%;
    height: 485px;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    background: transparent;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border: none;
    color: var(--color-gris-claro);
    resize: none;
}

.evaluar-texto:focus {
    outline: none;
}

.boton-copiar {
    width: 224px;
    height: 67px;
    font-size: 16px;
    text-align: center;
    line-height: 19px;
    bottom: 0;
    left: 0;
    background: var(--color-light-blue);
    font-family: var(--fuente);
    color: var(--color-dark-blue);
    border: var(--color-dark-blue) solid 1px;
    border-radius: 20px;
    cursor: pointer;
    margin: 23px;
    padding: 24px;
    position: absolute;
    visibility: hidden;
}

.boton-encriptar:hover,
.boton-desencriptar:hover,
.boton-copiar:hover {
    transform: scale(0.97);
}

footer {
    margin-top: 15px;
    padding: 10px;
    border-top: 2px solid var(--color-medio-gris);
    color: var(--color-gris);
    text-align: center;
    height: 5px;
    font-size: 20px;
    font-weight: 700;
}

.linkedin:hover {
    color: var(--color-fondo);
    opacity: 0.8;
}

.github:hover {
    color: var(--color-fondo);
    opacity: 0.6;
}

/*--------MEDIA-------*/
@media (max-width:1250px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptador {
        margin: 168px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .botones {
        display: flex;
        align-items: center;
        position: inherit;
    }

    .encriptador-aviso {
        position: inherit;
        margin: 15px;
    }

    .desencriptador {
        width: 665px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .desencriptador-tarjeta {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 20%;
        font-size: 24px;
        font-weight: 700;
    }

    .img-munieco {
        display: none;
    }

    .boton-copiar {
        position: inherit;
        width: 100%;
    }

    .evaluar-texto {
        width: 100%;
        height: 210px;
        padding: 10px;
    }

}

@media(max-width:720px) {
    header .logo-alura {
        width: 100%;
        background: var(--color-blanco);
        padding: 2px;
    }

    .encriptar {
        width: 90%;
        font-size: 24px;
    }

    .botones{
        display: grid;
        gap: 21px;
    }

    .desencriptador{
        width: 90%;
    }

    .copyright {
        font-size: 20px;
    }
}